script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js')
script(src='//cdn.rawgit.com/VividCortex/angular-recaptcha/master/release/angular-recaptcha.min.js')
script(src='//cdn.jsdelivr.net/ngstorage/0.3.10/ngStorage.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.6.1/angular-translate.js')
script(src='//cdn.rawgit.com/lipis/bootstrap-sweetalert/master/dist/sweetalert.min.js')
script(src='//cdn.rawgit.com/EvanHahn/HumanizeDuration.js/master/humanize-duration.js')
script(src='//cdn.rawgit.com/askucher/6e47a0c63c71423b9320506b684153f5/raw/3a3a8855b5651c9e5c8882ed647bdaab4cd22840/hashcash.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/bignumber.js/4.0.4/bignumber.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js')
script(src='//cdn.rawgit.com/ethereum/web3.js/0.19.0/dist/web3.min.js')

// On-line chat button
script.
  window.intercomSettings = {
  app_id: "m5m2ikby"
  };
script.
  (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/m5m2ikby';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
